@model int

@if (this.User.IsInRole("Admin"))
{
    <div style="float:right; margin-top: -3px; margin-right: 15px">
        @Html.ActionLink("Edytuj", "Edit", new { id = Model }, new { @class = "details_submit" })
    </div>

    <div style="float:right; margin-top: -3px; margin-right: 15px">
        @Html.ActionLink("Usuń", "Delete", new { id = Model }, new { @class = "details_submit" })
    </div>
    <div class="clear"></div>
}
